body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.notion {
    position: relative;
}

.share-button {
    display: flex;
    align-items: center;
    color: white;
    background: black;
    padding: 8px 16px;
    border: 1px solid black;
    border-radius: 4px;
}

.share-button__text {
    margin-right: 6px;        
}

.share-button__image {
    height: 12.8px;
    width: 12.8px;
}